# Node.js
node_modules/
npm-debug.log
yarn-error.log
yarn.lock

# Build files
build/
dist/

# Environment variables
.env.local
.env.development.local
.env.test.local
.env.production.local

# Editor and IDE files
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Log files
*.log

# Dependency directories
puppeteer/
node_modules/
.jest/

# Miscellaneous
*.bak
*.zip
